@import "../Labels/index.css";

.ant-table-header{
    overflow-y: hidden;

}
.ant-table-header::-webkit-scrollbar-track-piece{width:8px;background-color:#fafafa;  }

.ant-table-header::-webkit-scrollbar{width:8px;height:6px ; }

.ant-table-header::-webkit-scrollbar-thumb{height:50px;background:#fafafa;   cursor:pointer;}

.ant-table-header::-webkit-scrollbar-thumb:hover{background:#fafafa ; cursor:pointer}
.repertoryList{
    width: calc(100% - 10px);
    margin-left: 10px;
}
.repertoryListColumns{
    color: #000;
}
.repertoryListBtns{

}

.repertoryListBtns .ant-btn-danger{
    color : rgb(255, 255, 255) ;
    background : rgb(255, 77, 79) ;
    border-color : rgb(255, 77, 79) ;
}
.ant-table-placeholder{
    color: #777;
}
.noDataRedText{
    box-sizing : border-box ;
    margin : 0px 2px ;
    padding : 1px 3px ;
    background : rgb(242, 244, 245) ;
    border-radius : 3px ;
    border : 1px solid rgb(238, 238, 238) ;
    color : rgb(49, 70, 89) ;
}