body{
    padding: 0;
    margin: 0;
}
body > .el-container {
    height: 100vh;
}
.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
}